:root {
  --board-labels-color: #a0a0a0;
  --water-tile: #c9daf8;
  --water-tile-hover: #b6cdf5;
  --carrier: #cf53d1;
  --carrier-hover: #ac47ad;
  --destroyer: #44bdc6;
  --destroyer-hover: #389ca3;
  --submarine: #34a853;
  --submarine-hover: #288140;
  --battleship: #fbbc03;
  --battleship-hover: #b38d1b;
  --cruiser: #ff6c00;
  --cruiser-hover: #b34d05;
  --your-board: #fb004c;
  --opponent-board: #646f8b;
  --hit-ship-color: #fb004c;
  --miss-shot-color: #497dcb;
  --font-stack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

body, 
html {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

@font-face {
  font-family: gunplay;
  src: url(./fonts/gunplay3d.ttf);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: gunplay;
}

.header h1 {
  font-size: 80px;
  margin-top: 15px;
  letter-spacing: 10px;
  font-weight: normal;
}

.header h1:nth-child(2) {
  color: var(--your-board);
}

.status {
  grid-column: 1 / 3;

  display: grid;
  grid-template: 25px 25px / repeat(3, 50px);
  column-gap: 15px;

  align-items: center;
  justify-content: center;
}

p.legend {
  color: #707184;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

div.legend:nth-child(4) {
  background-color: var(--water-tile);
}

div.legend:nth-child(5) {
 background: var(--hit-ship-color);
}

div.legend:nth-child(6) {
background: var(--miss-shot-color);
}

div.legend:nth-child(4),
div.legend:nth-child(5),
div.legend:nth-child(6) {
  height: 100%;
  width: 25px;
  border-radius: 25px;
  justify-self: center;
}

.gameboards {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  padding: 20px;
}

.your-board,
.opponent {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  border-radius: 8px;

  font-family: var(--font-stack);
  font-weight: bold;
  color: whitesmoke;
}

.your-board {
  background-color: var(--your-board);
}

.opponent {
  background-color: var(--opponent-board);
}

#friendly-sea, 
#enemy-sea {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);

  height: 400px;
  width: 400px;
}

#enemy-board,
#player-board {
  grid-column: 2 / 12;
  grid-row: 2 / 12;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;

  background-color: whitesmoke;
}

.tile {
  background-color: var(--water-tile);
  cursor: pointer;
}

.gameboards .tile.hit {
  background-color: var(--miss-shot-color);
}

.tile.hit.ship {
  background-color: var(--hit-ship-color);
}

.tile:hover {
  background-color: var(--water-tile-hover);
}

.upperRow {   
  grid-column: 1 / 13;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
}

.leftRow {
  grid-column: 1 / 2;
  grid-row: 2 / 12;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
}

.letter-tile,
.number-tile {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--board-labels-color);
  font-weight: bold;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

.reset {
  height: 400px;
  width: 400px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 4px grey;


  border-left: 20px solid var(--opponent-board);
  border-radius: 8px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset h1 {
  color: #fb004c;
  margin-bottom: 5px;

  text-transform: uppercase
}

.reset p {
  padding: 20px;
  
  color: #0c0b0b;
  text-align: center;
  font-size: large;
}

div.reset button,
div.place-ships button {
  padding: 15px 10px;
  margin-top: 20px;
  width: 150px;
  

  border: 1px solid #fb004c;
  border-radius: 8px;
  box-shadow: 0px 4px 1px #911f41;

  background-color: var(--your-board);
  color: white;

  font-family: var(--font-stack);
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;

  cursor: pointer;
}

div.reset button:focus,
div.place-ships button:focus {
  transform: translateY(4px);
  box-shadow: none;
}

.place-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-ships {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: whitesmoke;
  box-shadow: 0px 5px 5px #706565;

  border-radius: 8px;
}

.place-ships h1 {
  font-family: 'Gunplay', var(--font-stack);
  font-weight: normal;
  letter-spacing: 2px;
}

.mock-grid {
  width: 350px;
  height: 350px;

  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 1px;

  padding: 30px;
}

.ship-preview {
  position: absolute;
}

.carrier {
  background-color: var(--carrier);
}

.carrier:hover {
  background-color: var(--carrier-hover);
}

.battleship {
  background-color: var(--battleship);
}

.battleship:hover {
  background-color: var(--battleship-hover);
}

.submarine {
  background-color: var(--submarine);
}

.submarine:hover {
  background-color: var(--submarine-hover);
}

.destroyer {
  background-color: var(--destroyer);
}

.destroyer:hover {
  background-color: var(--destroyer-hover);
}

.patroller {
  background-color: var(--cruiser);
}

.patroller:hover {
  background-color: var(--cruiser-hover);
}

.place-ships button {
  margin: 20px 10px;
  padding: 15px 10px;

  width: 150px;

  border: none;
  border-radius: 8px;

  text-transform: uppercase;
  font-size: 18px;
  color: white;
  font-weight: 700;

  background-color: var(--your-board);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: whitesmoke;
 
}

a {
  text-decoration: none;
  color: var(--your-board);
}

a:hover {
  color: var(--hit-ship-color);
}

.footer {
  margin-top: 40px;
}

@media (max-width: 930px) {
  .header h1 {
    font-size: 50px;
  }

  .gameboards {
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
  }

  .mock-grid {
    padding: 30px 40px
  }

  .place-ships button {
    margin: 30px 0 40px 0;
  }

  .reset {
    width: 300px;
  }
}

@media (max-width: 540px) {
  .header h1 {
    font-size: 36px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .your-board,
  .opponent {
    width: 250px;
  }

  #friendly-sea,
  #enemy-sea {
    width: 340px;
    height: 340px;
  }

  .status {
    grid-template: 25px 10px / repeat(3, 50px);
  }

  div.legend:nth-child(4), div.legend:nth-child(5), div.legend:nth-child(6) {
    width: 10px;
  }
  
  .place-ships h1 {
    font-size: 1.5rem;
  }

  .place-ships p {
    font-size: 1rem;
  }

  .mock-grid{
    width: 250px;
    height: 250px;
  }

  .gameboards {
    gap: 40px;
  }
}

@media (max-width: 400px) {
  .header h1 {
    font-size: 36px;
  }

  .mock-grid {
    width: 250px;
    height: 250px;
    padding: 30px 25px;
  }

  p.legend {
    font-size: 0.8rem;
  }

  .place-ships p {
    font-size: 0.8rem;
    margin: 0;
  }

  .place-ships h1 {
    font-size: 1.2rem;
    padding: 10px;
  }

  div.place-ships button {
    padding: 10px 5px;
    width: 100px;
    font-size: 1rem;
  }

  .your-board,
  .opponent {
    width: 225px;
    font-size: 0.8rem;
  }

  #friendly-sea,
  #enemy-sea {
    width: 325px;
    height: 325px;
  }

  .reset {
    width: 250px;
    height: 300px;
  }

  .footer {
    font-size: 0.8rem;
    margin-top: 40px;
  }
}

@media (max-width: 370px) {
  .header h1 {
    font-size: 27px;
  }

  .mock-grid {
    width: 250px;
    height: 250px;
    padding: 30px 25px;
  }

  .place-ships h1 {
    font-size: 1.1rem;
  }

  .your-board,
  .opponent {
    width: 200px;
    font-size: 0.8rem;
  }

  #friendly-sea,
  #enemy-sea {
    width: 290px;
    height: 290px;
  }

  .letter-tile, .number-tile {
    font-size: 0.8rem;
  }
}